#summary {
	text-align: left;
	line-height: 22px;
	font-size: 15px;

	.section {
		.title {
			font-weight: bold;
		}
		.point {
			.heading {
				font-weight: bold;
				font-style: italic;
			}
		}
	}
}
