#profile-page {
	width: 1120px;
	padding: 10px;
	margin: 10px;
    margin-left: auto;
    margin-right: auto;

	.component-title {
		text-align: center;
	}

	.container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;

		display: flex;
		flex-direction: row;
	}
}
