
.header {
	display: flex;

	gap: 2rem;
	padding: 14px;

	color: #eee;
	background-color: black;

	align-items: stretch;
	justify-content: space-between;

	.site-title {
		display: flex;
		color: inherit;
		align-items: center;
		text-decoration: none;

		.profile-name {
			font-size: 22px;
			font-weight: 500;
		}
	}

	.details {
		font-size: 14px;
		text-align: right;
		text-decoration: none;
		line-break: anywhere;

		img.icon-image {
			vertical-align: bottom;
		}

		span, a {
			margin: 8px;
			color: white;
			white-space: pre;
		}
	}
}
