
nav {
	ul {
		display: flex;
		list-style: none;

		gap: 1rem;
		margin: 0;
		padding: 0;

		li {
			padding: 10px;

			a {
				display: flex;
				height: 100%;
				padding: .35rem;
				border-radius: 5px;
		
				text-decoration: none;
				align-items: center;
		
				color: inherit;
			}

			a.hover {
				background-color: #777;
			}
	
			a.active {
				color: white;
				background-color: #555;
			}
		}
	}
}