
nav {
	background-color: black;

	ul {
		display: flex;
		list-style: none;

		gap: 1rem;
		margin: 0;
		padding: 0;

		li {
			padding: 10px;
			margin: 3px;

			a {
				display: flex;
				height: 100%;
				padding: 5px;
				font-weight: 500;
		
				color: #777;
				align-items: center;
				text-decoration: none;
			}

			a.hover {
				background-color: #777;
			}
	
			a.active {
				color: #eee;
				font-weight: 600;
				border-bottom: solid 3px rgb(247, 129, 102);
			}
		}
	}
}